/* includes all parts */
body {
    background: rgb(54, 52, 50);
    font-family: 'Agency FB', arial;
    margin: 0;
    padding: 0;
}
/* includes ul and li */
header {
    background: rgb(93, 12, 29);
    color: white;
    text-align: right;
    padding: 20px;
    height: 55px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 20px;
}

/* includes the navigation tabs and links */
header a {
    color: white;
    /* margin-top: -250px; */
}

/* just for logo function and looks */
header .logo a {
    background-image: url("image/BAE_maroon_resize.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    display: inline-block;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

a{
    text-decoration: none;
}
a:visited{text-decoration: none; color: white;}
a:focus{text-decoration: none; color: teal;}

a:hover{
    text-decoration: underline;
}

footer {
    background: rgb(93, 12, 29);
    color: white;
    padding: 15px;
    text-align: center;
}

.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    margin-left: 20px;
    color: white;
}

.fa-twitter {
    margin-left: 10px;
    color: white;
}

.fa-instagram {
    margin-left: 10px;
    color: white;
}

/* @media screen and (max-width: 400px) {

} */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: ' ';
    color: #fff;
}

select option {
    color: #000;
}

select::-ms-expand {
    display: none;
}

.sectional-nav {
    background-color: rgb(2, 6, 7);
}

.sectional-nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    padding: 15px 10px;
}

.sectional-nav ul li:first-of-type {
    padding: 30px 10px;
}

.sectional-nav ul li:hover {
    background-color: #0479c3;
    cursor: pointer;
    color: black;
}

.sectional-nav ul li a {
    color: black;
}

.sectional-nav ul li:hover a {
    color: #eeeeee;
}

@media screen and (max-width: 1920px) {
    .sectional-nav ul li {
        font-size: 16px;
    }
    .sectional-nav ul li {
        padding: 20px 5px;
    }
    select {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .sectional-nav #sectional_nav {
        height: 60px;
        width: 100px;
        font-size: 18px;
    }
    select {
        display: inline-block;
    }
    .tab {
        display: none;
    }

}