/* includes all parts */
body {
    background: whitesmoke;
    font-family: 'Agency FB', arial;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* includes ul and li */
header {
    background: rgb(93, 12, 29);
    color: white;
    text-align: right;
    padding: 20px;
    height: 55px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 20px;
}

/* includes the navigation tabs and links */
header a {
    color: white;
    /* margin-top: -250px; */
}

/* just for logo function and looks */
header .logo a {
    background-image: url("image/BAE_maroon_resize.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    display: inline-block;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

a{
    text-decoration: none;
}
a:visited{text-decoration: none; color: white;}
a:focus{text-decoration: none; color: teal;}

a:hover{
    text-decoration: underline;
}

.main {
    text-align: center;
    padding-bottom: 100px;

    position: relative;
}


footer {

    position:absolute;
    bottom:0;
    width:100%;
    background: rgb(93, 12, 29);
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: white;
    height: 100px;
     */
}

.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    margin-left: 20px;
    color: white;
}

.fa-twitter {
    margin-left: 10px;
    color: white;
}

.fa-instagram {
    margin-left: 10px;
    color: white;
}

/* @media screen and (max-width: 400px) {

} */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: ' ';
    color: #fff;
}

select option {
    color: #000;
}

select::-ms-expand {
    display: none;
}

.sectional-nav {
    background-color: rgb(2, 6, 7);
}

.sectional-nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    padding: 15px 10px;
}

.sectional-nav ul li:first-of-type {
    padding: 30px 10px;
}

.sectional-nav ul li:hover {
    background-color: #0479c3;
    cursor: pointer;
    color: black;
}

.sectional-nav ul li a {
    color: black;
}

.sectional-nav ul li:hover a {
    color: #eeeeee;
}

@media screen and (max-width: 1920px) {
    .sectional-nav ul li {
        font-size: 16px;
    }
    .sectional-nav ul li {
        padding: 20px 5px;
    }
    select {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .sectional-nav #sectional_nav {
        height: 60px;
        width: 100px;
        font-size: 18px;
    }
    select {
        display: inline-block;
    }
    .tab {
        display: none;
    }

}



.test_border {
    font-size: 60px;
    position: center;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    width: 50%;


}

.test_border_1{
    font-size: 60px;
    position: center;
    display: inline-block;
    text-align: center;
    width: 50%;
} 



hr{
    width: 60%;
    border-top: 5px solid rgb(93, 12, 29);

}

h1.quotes{
    text-align: center;
    position: center;
    display:inline-block;
    margin-top: 5px;
    width: 50%;
}



.main {
    text-align: center;
    padding-bottom: 100px;

    position: relative;

    

}

.warning{
    color: orange;
}

.slider{
    background-image: url("image/1.png");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 500px;
    
    background-repeat: no-repeat;
    background-position: center;   
    background-repeat: no-repeat;
    animation: slide 20s infinite; 
    animation-delay: 10s; 

    margin-bottom: none;


	/* border-: 5px solid white;
	box-shadow: black 0 0 10px; */
    /*

    margin-bottom: none;
    padding-bottom: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    max-height: 700px;
    max-width: 1000 px;
    max-height: 750 px; 
	border: 5px solid white;
	box-shadow: red 0 0 10px;
    animation: slide 20s infinite; 
    animation-delay: 10s; 

*/
    
}



 @media screen and (max-width: 1920px) {
    .slider {
        min-height: 600px;
      }
    @keyframes slide{
    25%{
        
        transition-delay: 10s;
        background: url("image/2.JPG");
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: contain; 
        height: 500px;

        background-repeat: no-repeat;
        background-position: center;   
        background-repeat: no-repeat;
        animation: slide 20s infinite; 
        animation-delay: 10s; 


    

    }
    50%{

        background: url("image/3.JPG");
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: contain; 
        height: 500px;

        background-repeat: no-repeat;
        background-position: center;   
        background-repeat: no-repeat;
        animation: slide 20s infinite; 
        animation-delay: 10s; 
    

    }
    75%{

        background: url("image/4.JPG");
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: contain; 
        height: 500px;

        background-repeat: no-repeat;
        background-position: center;   
        background-repeat: no-repeat;
        animation: slide 20s infinite; 
        animation-delay: 10s; 


    }

    100%{

        background: url("image/1.png");
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: contain; 
        height: 500px;

        background-repeat: no-repeat;
        background-position: center;   
        background-repeat: no-repeat;
        animation: slide 20s infinite; 
        animation-delay: 3s; 
    

    }

} 

}
@media screen and (max-width: 925px) {
    .slider {
        height: 45%;
      }
      @keyframes slide{
        25%{
            
            transition-delay: 10s;
            background: url("image/2.JPG");
            min-height: 600px;
            background-repeat: no-repeat;
            background-size: contain; 
            height: 500px;

            background-repeat: no-repeat;
            background-position: center;   
            background-repeat: no-repeat;
            animation: slide 20s infinite; 
            animation-delay: 10s; 
    
        
    
        }
        50%{
    
            background: url("image/3.JPG");
            min-height: 600px;
            background-repeat: no-repeat;
            background-size: contain; 
            height: 500px;

            background-repeat: no-repeat;
            background-position: center;   
            background-repeat: no-repeat;
            animation: slide 20s infinite; 
            animation-delay: 10s; 
     
    
        }
        75%{
    
            background: url("image/4.JPG");
            min-height: 600px;
            background-repeat: no-repeat;
            background-size: contain; 
            height: 500px;

            background-repeat: no-repeat;
            background-position: center;   
            background-repeat: no-repeat;
            animation: slide 20s infinite; 
            animation-delay: 10s; 
    
    
        }
    
        100%{
    
            background: url("image/1.png");
            min-height: 600px;
            background-repeat: no-repeat;
            background-size: contain; 
            height: 500px;
            background-repeat: no-repeat;
            background-position: center;   
            background-repeat: no-repeat;
            animation: slide 20s infinite; 
            animation-delay: 10s; 
     
    
        }
    
    } 
}









    /* 80%{

        background: url("image/sacrifice.png");
        display: inline-block;
        position: center;
        width: 80%;
        height: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation-delay: 3s;

    } */